<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ViewAccountActivity"
            android:exported="false"
            android:label="@string/title_activity_view_account"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".UploadCommActivity"
            android:exported="false" />
        <activity
            android:name=".ViewRequestActivity"
            android:exported="false" />
        <activity
            android:name=".RequestActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".CreateCommission"
            android:exported="false" />
        <activity
            android:name=".account.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EditCommissionActivity"
            android:exported="false" />
        <activity
            android:name=".chatting.MessageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ViewCommissionActivity"
            android:exported="false" />
        <activity
            android:name=".account.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".PayPalActivity"
            android:exported="false" />
        <activity
            android:name=".account.ViewAccActivity"
            android:exported="false" />
        <activity
            android:name=".ViewCompletedActivity"
            android:exported="false" />
        <activity
            android:name=".account.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>